@use "../styles/palette" as *;

:host {

    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    background: $wt1;
    color: $b5;
    font-family: 'Crimson Pro', serif;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}