@use "../styles/palette" as *;

:host {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background: $wt1;
    color: $b5;
    font-family: 'Crimson Pro', serif;
}

.content {
    flex: 1;
}