@use "../../../styles/palette" as *;

:host {
    background-color: $b4;
}

.footer {
    display: grid;
    gap: 1rem;
    padding: .75rem;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
}

.footer-left img {
    display: block;
    width: 50px;
    height: auto;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $b1;
}

.footer-center {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.footer-center input{
    padding: .2rem .4rem;
    border: none;
    border-radius: 5px;
    min-width: 0;
}

:root {
    --ta-w: 120%;
    --ta-h: auto;
}

.footer-center textarea {
    width: var(--ta-w);
    height: var(--ta-h);
    min-height:5rem;
    max-height: 60vh;
    padding: .2rem .4rem;
    border: none;
    border-radius: 5px;
    resize: none;
    overflow-y: visible;
    min-width: 0;
}

.footer-center button {
    width: 24%;
    min-width: 20%;
    max-width: 30%;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: $wt1;
    color: $b5;
    cursor: pointer;
}

.footer-center button:hover {
    background-color: $y2;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.coming, .contact {
    margin: 0;
    font-weight: 500;
    color: $b1;
}

.footer-right__logos {
    display: flex;
    gap: 1rem;
}

.footer-right__logos img {
    display: block;
    width: 40px;
    height: auto;
}

@media (max-width: 500px) {

    .footer{
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
        align-items: flex-end;
    }

    .footer-left {
        justify-content: flex-start;
    }

    .footer-center {
        justify-content: center;
    }

    .footer-center input{
        width: 40vw;
    }

    .footer-center textarea {
        width: 50vw;
        height: auto;
        min-height: 5rem;
        max-height: 60vh;
    }

    .footer-center button {
        width: 20vw;
        min-width: 20vw;
        max-width: 20vw;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .coming, .contact {
        font-size: 2rem;
    }
}

@media (min-width: 500px) and (max-width: 1023px) {

    .footer {
        grid-template-areas: "left center"
                              "right center";
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        align-items: center;
    }

    .footer-left { grid-area: left; }
    .footer-center { grid-area: center; }
    .footer-right { grid-area: right; }

    .footer-left {
        justify-content: center;
    }

    .footer-center {
        align-items: center;
    }

    .footer-center input{
        width: 20vw;
        min-width: 15vw;
    }

    .footer-center textarea {
        width: 30vw;
        height: auto;
        min-height: 5rem;
        max-height: 60vh;
    }

    .footer-center button {
        width: 12vw;
        min-width: 12vw;
        max-width: 12vw;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .coming, .contact {
        font-size: 1.8rem;
    }

}

@media (min-width: 1024px){
    .footer{
      grid-template-columns: 1fr 2fr 1fr;
      align-items: center;
    }

    .footer-left {
        justify-content: flex-start;
    }

    .footer-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-center input{
        width: 9vw;
    }

    .footer-center textarea {
        width: 20vw;
        height: auto;
        min-height: 5rem;
        max-height: 60vh;
    }

    .footer-center button {
        width: 5vw;
        min-width: 5vw;
        max-width: 5vw;
    }

    .footer-right {
        display:flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .footer-right__logos img {
        width: 50px;
        height: auto;
    }

    .coming, .contact {
        font-size: 1.8rem;
    }
  }